<h1>TinyApp</h1>
<% if (user){ %>
  <form class="form-inline" action="/logout" method="POST">
    <div class="btn-toolbar">
      <h5>Logged in as <%= user.email %></h5>
      <button type="submit" class="btn btn-primary" style="margin:0.1em"">Logout</button>
    </div>
  </form>
<% } else { %>
    <div class="btn-toolbar">
      <a href='/register'><button type="submit" class="btn btn-primary" style="margin:0.1em"">Register</button></a>
      <a href='/login'><button type="submit" class="btn btn-primary" style="margin:0.1em">Login</button></a>
    </div>
<% } %>