<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <!-- Add EJS code here -->
  <header>
  <% include ./partials/_header %>
  </header>
  <h2>My URL's</h2>
    <a href = "/urls/new">Create New TinyURL</a>
    <table class ="table">
    <thead>
      <td><b>TinyURL</b></td>
      <td><b>URL</b></td>
      <td> </td>
      <td> </td>
    </thead>
    <tbody>
    <% for(var key in urls) { %>
      <tr>
        <td><%= key %></td>
        <td><%=urls[key].longURL %></td>
        <td><a href="/urls/<%= key %>">Edit</a>
        <td><form method="POST" class="inline-form"  action=<%=`/urls/${key}/delete`%>>
        <button class="btn btn-danger">Delete</button>
        </form></td>
      </tr>
    <% } %>
  </tbody>
  </table>

</body>
</html>
